.about-us-section {
  .container {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}
/*
.about-us {
  display: flex;
  justify-content: center;
}

.about-us-list:not(:last-child) {
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
*/
.title {
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-light-theme-color;
  margin-top: 0;
  margin-bottom: 10px;
}

.about-us-img-back {
  margin-bottom: 30px;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
  border-radius: 4px;
}

.about-us-list:nth-child(1) .aboutus-svg-back {
  width: 70px;
  height: 70px;
}

.about-us-list:nth-child(2) .aboutus-svg-back {
  width: 70px;
  height: 70px;
}

.about-us-list:nth-child(3) .aboutus-svg-back {
  width: 70px;
  height: 70px;
}

.about-us-list:nth-child(4) .aboutus-svg-back {
  width: 70px;
  height: 70px;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 94px;
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .about-us-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about-us {
    align-items: center;
    flex-wrap: wrap;
  }

  .about-us-list {
    align-items: center;
    justify-content: center;
  }
  .about-us-img-back {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .description {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-section {
    padding-bottom: 60px;
  }

  .about-us {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us-list {
    width: 354px;
    height: 221px;
    margin-right: 10px;
  }

  .about-us-img-back {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .title {
    text-align: start;
    margin-bottom: 10px;
  }

  .description {
    text-align: start;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us {
    display: flex;
    flex-wrap: nowrap;
  }

  .about-us-list:not(:last-child) {
    margin-right: 10px;
  }
}
