.filter-list {
  display: flex;
  justify-content: center;
  padding-top: 88px;
  padding-bottom: 34px;
}

.filter-list-item {
  background: #f5f4fa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  & {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background: #2196f3;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-list-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  display: block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .filter-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
