.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  border-bottom: 1px solid #ececec;

  &-address-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }

  &-svg {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  &-address-link {
    text-decoration: none;
  }
  /*
  &-list-item {
    margin-bottom: 10px;
  }
  */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    max-width: 480px;
    margin: 0 auto;
  }
  .menu-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 480px;
    height: 453px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateY(-100%);
    transition: transform 500ms linear;
    background-color: #fff;

    &.is-open {
      transform: translateY(0);
    }
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu-btn {
    position: relative;
    background-color: transparent;
    border: none;
    z-index: 100;

    &.is-open {
      .icon-close {
        display: block;
      }

      .icon-burger {
        display: none;
      }
    }
  }

  .icon-close {
    display: none;
  }

  .header-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  .navigation-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    &-item-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.167;
      letter-spacing: 0.02em;
      color: #212121;
    }

    &-list-item:hover,
    &-list-item:focus {
      color: #2196f3;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    max-width: 1200px;
  }
  .menu-btn {
    display: none;
  }
  .menu-wrapper {
    display: none;
  }

  .menu-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
  }

  .navigation-list {
    display: flex;
    align-items: center;
  }

  .navigation-list-item {
    margin-right: 50px;
    font-size: 14px;
    line-height: 1.167;
  }

  .header-address-link {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
    padding: 0;
    margin: auto;
  }
  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: baseline;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .contacts-header {
    display: flex;
    align-items: center;
  }

  .header-address-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }
  &:hover,
  &:focus .header-svg {
    fill: #2196f3;
  }

  .navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-light-theme-color;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .header-tel-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    & {
      color: #757575;
    }
  }
  .modal-btn,
  .contact-form-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: none;
    width: 200px;
    height: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover,
  .modal-btn:focus,
  .contact-form-btn:hover,
  .contact-form-btn:focus {
    background-color: #188ce8;
  }

  .current::after {
    width: 47px;
    height: 4px;
    background-color: #2196f3;
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 28px;
  }

  .header-list {
    display: flex;
    align-content: center;
  }

  .header-list-item {
    width: 100%;
  }

  .header-svg {
    width: 16px;
    height: 11px;
    margin-right: 10px;
    color: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-tel-svg {
    width: 16px;
    height: 11px;
    margin-right: 10px;
    color: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .list {
    list-style: none;
  }
}
