h1 {
  margin: 0;
}

.hero {
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero/Header-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
}

.modal-btn,
.contact-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .hero {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero/Header-mobile-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
  }
  &-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }

  .modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    margin-top: 30px;
    color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .logo-img {
    z-index: 101;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero/Header-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero .container {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 198px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
  }

  .modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    margin-top: 30px;
    color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-form {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/hero/Header-desc-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .modal-btn,
  .contact-form-btn {
    display: block;
    padding: 0;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
