.logo-first-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-second-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-footer-link {
  text-decoration: none;
}

.logo-img {
  margin-right: 85px;
  text-decoration: none;
}

@media screen and (min-width: 767px) {
  .logo-img {
    display: flex;
  }

  .logo-first-title {
    margin-right: 5px;
  }
}

@media screen and (min-width: 768px) {
  .logo-img {
    display: flex;
  }

  .logo-first-title {
    margin-right: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-img {
    display: flex;
  }

  .logo-first-title {
    margin-right: 5px;
  }
}
