h3 {
  margin: 0;
}

.masters {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: center;

  &-item {
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
  }
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item-img {
  margin-bottom: 30px;
}

.team-title {
  font-family: $main-font;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;
  margin-bottom: 50px;
}

.team-name-title {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-item-position {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-right: auto;
  padding-left: auto;

  &-item:not(:last-child) {
    margin-right: 10px;
  }

  &-item-link-svg {
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #afb1b8;
  }

  &-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-item-link:hover,
  &-item-link:focus {
    background-color: #2196f3;
  }

  &-item-link:hover .social-list-item-link-svg,
  &-item-link:focus .social-list-item-link-svg {
    fill: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .team-title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }

  .team-list-item {
    margin-bottom: 30px;
    padding-bottom: 60px;
  }
}


@media screen and (min-width: 1200px) {
  .team-list }
    display: flex;
  }
}


