.product-list-flex {
  display: flex;
  flex-wrap: wrap;
}

.list-portfolio-items {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover,
  &:focus {
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }

  &:hover .portfolio-overlay-text {
    transform: translateY(0);
  }
}

.list-portfolio-items:nth-child(3n) {
  margin-right: 0;
}

.list-portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.title-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-top: 20px;
  padding-left: 24px;
  margin-bottom: 4px;
}

.product-list-item-link {
  text-decoration: none;
}

.product-description {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
}

.list-portfolio-items:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.potrfolio-overlay {
  overflow: hidden;
  position: relative;
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.03em;
  line-height: 1.56;
}

@media screen and (max-width: 767px) {
  .product-list-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .product-list-flex {
    display: flex;
    flex-wrap: n;
  }
}
